body{
	font-family:  'Lato', sans-serif;
	padding: 0px;
	margin: 0px;
	min-width: 320px;
}
section#banner{
	background: url('../images/banner_top_bg.jpg') no-repeat center center;
	background-size: cover;
	height: 660px;
}
section#banner > div{
	position: absolute;
	right: 0px;
	top:160px;
	padding: 50px;
	width: 300px;
	color:#FFF;
	background-color: rgba(8,49,40, 0.7);
}
section#banner > div p{
	margin: 0px;
	font-size: 30px;
	font-weight: 300;
}

section#premio > header{
	text-align: center;
}
section#premio > header > h1{
	margin:0px;
	color: #003d43;
	background-color: #a2c108;
	font-size: 30px;
	padding: 41px 15px;
}
section#premio > header > i{
	width: 0px;
    height: 0px;
    color: transparent;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 19px solid #a2c108;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: -19px;
	z-index: 99;
}
section#premio .carrousel{
	background-color: #18a292;
	padding: 100px;
}
section#premio .carrousel .owl-nav{
	position: absolute;
    top: 75px;
    width: 100%;
}
section#premio .carrousel .owl-nav > div{
	position: absolute;
	width: 0px;
    height: 0px;
    color: transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
section#premio .carrousel .owl-nav .owl-next{
    border-left: 30px solid #FFF;
    right: -30px;
}
section#premio .carrousel .owl-nav .owl-prev{
    border-right: 30px solid #FFF;
    left:-30px;
}
section#premio .carrousel .owl-stage-outer{
	// margin: 0 50px;
}
section#premio .carrousel .owl-item{
	text-align: center;
	// width: 328px!important;
}
section#premio .carrousel .owl-item img{
	width: auto!important;
	display: inline-block;
}
section#premio .carrousel .owl-item p{
	color:#FFF;
	font-size: 25px;
	margin: 5px 23px;
}
section#premio .carrousel .owl-item p strong{
	font-size: 35px;	
}

div.row::after{
	clear: both;
	display: table;
	content: " "
}
div.col{
	float: left;
	width: auto;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    
    
}

div.home_content{
	
}
div.home_content .col{
	margin: 65px 0;
	width: 50%;
}

section#accordeon{
	margin: 0 auto;
	max-width: 558px;
}

section#accordeon article h2{
	color: #FFF;
	background-color: #18a292;
	font-weight: normal;
	font-size: 16px;
	line-height: 50px;
	margin: 3px 0px 0px 0px;
	padding: 0 14px;
	cursor: pointer;
	position: relative;
}
section#accordeon article.active h2{
	background-color: #107065;
	font-size: 18px;
	cursor: default;
}
section#accordeon article h2 i{
	background: url('../images/acordeon_seta.png') no-repeat;
	width: 14px;
	height: 8px;
	display: block;
	position: absolute;
	right: 14px;
	top: 21px;
}
section#accordeon article.active h2 i{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
section#accordeon article > div{
	display: none;
	margin: 0px;
	background-color: #ededed;
	font-size: 16px;
}
section#accordeon article.active > div{
	display: table;
	padding: 0 15px;
}
section#accordeon article.active > div p{
	letter-spacing: 0.02em;
	color: #000;
}

section#contact{
	margin: 0 auto;
	max-width: 428px;
}
section#contact header{
	background-color: #107065;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	padding: 15px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
section#contact header h3, section#contact header p{
	margin: 0px;
}
section#contact form{
	background-color: #FFF;
	border: 1px solid #ededed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 40px 40px 40px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

form.default input, form.default textarea{
	-webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 30px;
    background: none;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    border-color: rgba(0,0,0,0.18);
    font-size: 16px;
    color:#868686;
}
form.default textarea{
    overflow: hidden;
    vertical-align: top;
}
form.default  button{
	background-color: #a2c108;
	border:none;
	text-align: center;
	padding: 7px 70px;
	font-size: 20px;
	color: #164b3f;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: block;
	margin: 10px auto;
	cursor: pointer;
}

body > footer{
	background-color: #1d353e;
	text-align: center;
	color:#fff;
	line-height: 180px;
	font-size: 16px;
	font-weight: lighter;
}
@media (max-width: 992px) {
	div.home_content .col{
		width: 100%;
	}
}
@media (max-width: 480px) {
	div.home_content .col{
		margin: 40px 0px;
	}
	section#banner{
		height: 460px;
	}
	section#banner > div{
		width: 250px;
		padding: 30px;
		top:100px;
	}
	section#premio .carrousel{
		padding: 50px;
	}
	section#premio .carrousel .owl-nav .owl-next{
	    // right: -70px;
	}
	section#premio .carrousel .owl-nav .owl-prev{
	    // left: -70px;
	}
}